<!DOCTYPE html>
<html>

<head>
    <title>Weather App</title>
    <link rel="icon" href="/img/sun-and-rain_icon.ico">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/fontawesome-free-6.5.1-web/css/all.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <form autocomplete="off" action="/weather" method="get" class="search-bar mb-3">
        <div class="input-group">
            <input autocomplete="false" type="text" id="searchBox" name="city" class="form-control"
                placeholder="Type a city name..." value="<%= location %>">
            <input type="hidden" name="page" value="<%= page %>">
            <i class="fas fa-map-marker-alt input-icon-prefix" onclick="getCurrentLocation()"></i>
            <button type="submit" class="input-icon-postfix" style="background: none; border: none;">
                <i class="fas fa-search"></i>
            </button>
        </div>
        <div id="suggestions" class="suggestions"></div>
    </form>
    <div class="container">
        <div id="spinner" class="d-flex justify-content-center">
            <div class="spinner-border" role="status" style="display: none;">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <div class="row">
            <% if (data) { %>
                <% data.forEach((day, index) => { %>
                    <div class="col" style="padding: 0 5px;">
                        <div class="card">
                            <div class="card-body">
                                <div style="display: flex; align-items: flex-start; flex-direction: column;">
                                    <img src="<%= day.day.condition.icon %>" alt="Weather icon">
                                    <div>
                                        <h5 class="card-title">
                                            <%= new Date(day.date).toLocaleString('en-us', {weekday:'short'}) + '.' %>
                                            <%= new Date(day.date).getDate() %><sup><%= ['st', 'nd', 'rd'][((new Date(day.date).getDate() + 90) % 100 - 10) % 10 - 1] || 'th' %></sup>
                                            <%= new Date(day.date).toLocaleString('en-us', {month:'short'}) + '.' %>
                                        </h5>
                                        <p class="card-text">
                                            <%= day.day.condition.text %>
                                        </p>
                                    </div>
                                </div>
                                <p class="card-text">
                                    <strong>
                                        <%= Math.ceil(day.day.maxtemp_f) %>°
                                    </strong>
                                    <%= Math.ceil(day.day.mintemp_f) %>°
                                </p>
                                <p class="card-text">
                                    <strong>Humidity:</strong>
                                    <%= day.day.avghumidity %>%
                                </p>
                                <p class="card-text">
                                    <strong>Wind:</strong>
                                    <%= day.day.maxwind_mph %> mph
                                </p>
                            </div>
                        </div>
                    </div>
                    <% }) %>
                        <% } %>
        </div>
        <nav class="newNav">
            <ul class="pagination justify-content-end">
                <li class="page-item <% if (page <= 1) { %>disabled<% } %>">
                    <a class="page-link" href="<% if (page > 1) { %>/weather?city=<%= location %>&page=<%= page - 1 %><% } %>" tabindex="-1">Previous</a>
                </li>
                <li class="page-item <% if (page * 5 >= 10) { %>disabled<% } %>">
                    <a class="page-link" href="<% if (page * 5 < 10) { %>/weather?city=<%= location %>&page=<%= page + 1 %><% } %>">Next</a>
                </li>
            </ul>
        </nav>
    </div>

    <script src="/js/main.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>

</html>