<!DOCTYPE html>
<html>

<head>
    <title>Weather</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/fontawesome-free-6.5.1-web/css/all.css">

</head>

<body>
    <form autocomplete="off" action="/weather" method="get" class="search-bar">
        <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fas fa-map-marker-alt"></i>
              </span>
            </div>
            <input autocomplete="false" type="text" id="searchBox" name="city" class="form-control" placeholder="Type a city name...">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="submit">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </div>
        <div id="suggestions" class="suggestions"></div>
    </form>
    <div class="container">
        <div class="row">
            <% if (data && data.forecast && data.forecast.forecastday) { %>
                <% data.forecast.forecastday.forEach(day=> { %>
                    <div class="col" style="padding: 0 5px;">
                        <div class="card">
                            <div class="card-body">
                                <div style="display: flex; align-items: flex-start; flex-direction: column;">
                                    <img src="<%= day.day.condition.icon %>" alt="Weather icon">
                                    <div>
                                        <h5 class="card-title">
                                            <%= new Date(day.date).toLocaleString('en-us', {weekday:'short'}) + '.' %>
                                        </h5>
                                        <p class="card-text">
                                            <%= day.day.condition.text %>
                                        </p>
                                    </div>
                                </div>
                                <p class="card-text">
                                    <strong>
                                        <%= Math.ceil(day.day.maxtemp_f) %>°
                                    </strong>
                                    <%= Math.ceil(day.day.mintemp_f) %>°
                                </p>
                                <p class="card-text">
                                    <strong>Humidity:</strong>
                                    <%= day.day.avghumidity %>%
                                </p>
                                <p class="card-text">
                                    <strong>Wind:</strong>
                                    <%= day.day.maxwind_mph %> mph
                                </p>
                            </div>
                        </div>
                    </div>
                    <% }) %>
                        <% } %>
        </div>
    </div>

    <script src="/js/autocomplete.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>

</html>