<!DOCTYPE html>
<html>

<head>
    <title>Weather</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <script src="/js/bootstrap.min.js"></script>

    <form action="/weather" method="get">
        <input type="text" name="city" placeholder="Enter city name">
        <button type="submit">Search</button>
    </form>
    <div class="container">
        <div class="row">
            <% if (data && data.forecast && data.forecast.forecastday) { %>
                <% data.forecast.forecastday.forEach(day=> { %>
                    <div class="col" style="padding: 0 5px;">
                        <div class="card">
                            <div class="card-body">
                                <div style="display: flex; align-items: flex-start; flex-direction: column;">
                                    <img src="<%= day.day.condition.icon %>" alt="Weather icon">
                                    <div>
                                        <h5 class="card-title">
                                            <%= new Date(day.date).toLocaleString('en-us', {weekday:'short'}) + '.' %>
                                        </h5>
                                        <p class="card-text">
                                            <%= day.day.condition.text %>
                                        </p>
                                    </div>
                                </div>
                                <p class="card-text">
                                    <strong><%= Math.ceil(day.day.maxtemp_f) %>°</strong> <%= Math.ceil(day.day.mintemp_f) %>°
                                </p>
                                <p class="card-text">
                                    <strong>Humidity:</strong> <%= day.day.avghumidity %>%
                                </p>
                                <p class="card-text">
                                    <strong>Wind:</strong> <%= day.day.maxwind_mph %> mph
                                </p>
                            </div>
                        </div>
                    </div>
                    <% }) %>
                        <% } %>
        </div>
    </div>
</body>

</html>